/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/2f4ee9102941847.5f42516cda6ed.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}